{% extends "mainte/base.html" %}
{% block title %}ユーザー新規登録{% endblock %}
{% block content %}
<h3>ユーザー新規登録</h3>

<form action="{{ url_for('mainte.users_create') }}" method="POST" novalidate="novalidate">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=15, class="form-control is-invalid mm-input", placeholder="ユーザー名") }}
    {% for error in form.username.errors %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
    {{ form.email.label }} {{ form.email(size=30, class="form-control is-invalid mm-input", placeholder="メールアドレス") }}
    {% for error in form.email.errors %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
    {{ form.password.label }} {{ form.password(size=15, class="form-control is-invalid mm-input", placeholder="パスワード") }}
    {% for error in form.password.errors %}
        <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
    {{ form.submit(class="btn btn-md btn-primary mm-btn") }}
    <a href="{{ url_for('mainte.users_index') }}" class="btn btn-primary mm-btn">戻る</a>
</form>
{% endblock %}