{% extends "mainte/base.html" %}
{% block title %}ユーザー一覧{% endblock %}
{% block content %}
<h3>ユーザー一覧</h3>

<div class="text-left mt-3">
    <a href="{{ url_for('mainte.users_create') }}" class="btn btn-primary">新規作成</a>
    <a href="{{ url_for('mainte.index') }}" class="btn btn-primary">戻る</a>
</div>

<div class="mt-4">
    <table class="table">
        <tr>            
            <th>ID</th>
            <th>ユーザー名</th>
            <th>メールアドレス</th>
            <th>操作</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td><a href="{{ url_for('mainte.users_update', user_id=user.id) }}" class="btn btn-primary">更新</a>
                <a href="{{ url_for('mainte.users_delete', user_id=user.id) }}" class="btn btn-primary">削除</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}